<h1>Đăng ký</h1>
<% if (errorMsg?.length) { %>
    <div class="alert alert-danger mt-2">
        <%= errorMsg %>
    </div>
    <% } %>
        <form class="mb-4" method="post">
            <div class="mb-4">
                <label for="name" class="mb-2">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name..."
                    value="<%= req?.olds?.name %>">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.name %>
                </span>
            </div>
            <div class="mb-4">
                <label for="email" class="mb-2">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Your Email..."
                    value="<%= req?.olds?.email %>">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.email %>
                </span>
            </div>
            <div class="mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                    placeholder="Your Password...">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.password %>
                </span>
            </div>
            <div class="mb-4">
                <label class="mb-2">Nhập lại mật khẩu mới</label>
                <input type="password" name="passwordRetype" class="form-control"
                    placeholder="Retype Your Password ...">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.passwordRetype %>
                </span>
            </div>
            <button class="btn btn-primary">Đăng Ký</button>
            <a href="/auth/login" class="btn btn-warning">Quay lại</a>
        </form>